%ul.message-list{"data-id": "#{message.id}"}
  %li.message-list__name
    = message.user.name
  %li.message-list__date
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  - if message.text.present?
    %li.message-list__text
      = message.text
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
