.Wrapper 
  = render partial: 'side_bar'
  
  .Content
    .Content__messageheader
      .chat-group
        %p.chat-group__name 
          = @group.name
        %ul.chat-group__list
          Member :
          - @group.users.each do |gname|
            %li.chat-group__list__names
            &nbsp
            = gname.name
              
      .btm-contents 
        %form{name:"group-edit",mesod:"edit"}
          = link_to "Edit", edit_group_path(@group.id), method: :get, class: "btn-contents__edit"
          
    .Content__mainmessage
      = render partial: 'message', collection: @messages

    .Content__messageform
      .message-create
        = form_for [@group, @message] do |f|
          .message-create__form
            = f.text_field :text, class: 'message-create__text',placeholder: 'type a message'
            = f.label :image, class: 'message-create__up__label' do
              = fa_icon 'picture-o', class: "message-create__up__icon"
              = f.file_field :image, class: 'message-create__up__hidden'
            = f.submit 'Send', class: 'message-create__btn__send'